
@{
    ViewData["Title"] = "Home Page";
}

<div style="border: 1px solid #ddd; padding: 30px; margin: 30px auto; max-width: 800px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
    <div class="text-center">
        <h1 class="display-4">Waterlily HRS System</h1>
        
        <img src="~/images/img.jpg" alt="A descriptive image" style="width: 60%; height: auto; display: block; margin: 20px auto;" />
        
        <p style="margin-top: 25px; font-size: 1.1em; color: #555;"> HRS System Powered ASP.NET Core<a href="https://www.linkedin.com/in/lasakaru">Developed by Lasantha Karunarathne</a></p>
    </div>
</div>